@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('http://allfont.net/allfont.css?fonts=colonna-mt');
@import url('https://fonts.googleapis.com/css?family=Hind');

@font-face {
    font-family: 'lulo_cleanone';
    src: url('luloclean/LuloCleanOne-webfont.eot');
    src: url('luloclean/LuloCleanOne-webfont.eot?#iefix') format('embedded-opentype'),
         url('luloclean/LuloCleanOne-webfont.woff2') format('woff2'),
         url('luloclean/LuloCleanOne-webfont.woff') format('woff'),
         url('luloclean/LuloCleanOne-webfont.ttf') format('truetype'),
         url('luloclean/LuloCleanOne-webfont.svg#lulo_cleanone') format('svg');
    font-weight: normal;
    font-style: normal;
  };


$body-text: 'Raleway', sans-serif;
$logo-text: 'Colonna MT', arial;
$header-text: 'MyWebFonts','lulo_cleanone', serif;
$header-bold: 'Hind', sans-serif;


body {
  font: $body-text;
}
