.product-image {
  width: 75%;
}

.banner {
  width: 100%;
}

.banner img {
  width: 100%;
  display: block;
}

.container-fluid {
  padding: 0;
}

.horizontal-slider {
  width: 3000px;
  height: 50%;
  display: flex;
  flex-direction: row;
}

.horizontal-slider img {
  height: 100%;
}
