.about {
  margin-top: 45px;
  min-height: 1666px;
  max-width: 100%;
  margin: 0 auto;
  margin-top: 50px;
  background: url('https://s3-us-west-1.amazonaws.com/madison-mckinley/about/ABOUT-THE-BRAND-576.jpg') center center;
  background-size: contain;
  background-repeat: no-repeat;
}
.about-background {
  background-color: #F9F4DC;
}

@media (min-width: 576px) {
  .about {
    min-height: 1666px;
    min-width: 576px;
    background: url('https://s3-us-west-1.amazonaws.com/madison-mckinley/about/ABOUT-THE-BRAND-576.jpg') center center;
    background-size: contain;
    background-repeat: no-repeat;
  }
}

@media (min-width: 768px) {
  .about  {
    min-height: 2243px;
    min-width: 768px;
    background: url('https://s3-us-west-1.amazonaws.com/madison-mckinley/about/ABOUT-THE-BRAND-768.jpg') center center;
    background-size: contain;
    background-repeat: no-repeat;

  }
}

@media (min-width: 992px) {
  .about {
    background: url('https://s3-us-west-1.amazonaws.com/madison-mckinley/about/ABOUT-THE-BRAND-992.jpg') center center;
    min-height: 2921px;
    min-width: 992px;
    background-size: contain;
    background-repeat: no-repeat;
  }
}


@media (min-width: 1200px) {
  .about {
    min-height: 3455px;
    min-width: 1200px;
    background: url('https://s3-us-west-1.amazonaws.com/madison-mckinley/about/ABOUT-THE-BRAND-1200.jpg') center center;
    background-size: contain;
    background-repeat: no-repeat;
  }
}
