.about {
  min-height: 1230px;
  max-width: 100%;
  margin: 0 auto;
  background: url('https://s3-us-west-1.amazonaws.com/madison-mckinley/about/ABOUT-THE-BRAND-576.jpg') center center;
  background-size: contain;
  background-repeat: no-repeat;
}

.about-background {
  color: $red-brown;
  background-color: #F9F4DC;
}

iframe {
  margin-top: 70px;
}

  .homepage-video {
    margin: 10px;
    margin-top: 70px;
    margin-bottom: 0;
    position: relative;
    box-shadow: 1px 1px 6px 0px rgba(0,0,0,0.2), -1px -1px 6px 0px rgba(0,0,0,0.2);

    .video-text {
      top: 0;
      visibility: visible;
      left: 0;
      background-color: rgba(184, 159, 131, .5);
      position: absolute;
      height: 100%;
      width: 100%;
      z-index: 4000;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      .text-block-2 {
        h2 {
          text-align: center;
          padding-bottom: 20px;
          padding-top: 200px;
          font-family: $header-text;
          color: $red-brown;
          opacity: .8;
          font-size: 8vw;
          text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.6);
        }
      }
      .video-action {
        display: flex;
        justify-content: center;
        align-items: baseline;
        padding-bottom: 20px;
        h2 {
          color: white;
          font-family: $header-text;
          font-size: 2vw;
          text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.6);
        }
        span {
          border: 2px solid $brown;
          border-radius: 25px;
          font-size: 1.5vw;
          font-family: $header-text;
          color: white;
          padding: 10px;
        }
      }
    }
  }


.logo {
  width: 100vw;
  img {
    height: auto;
    display: block;
    margin: auto;
    max-width: 90vw;
  }
}

@media (min-width: 375px) {
  .about {
    min-height: 1500px;
  }
}

@media (min-width: 768px) {
  .homepage-video {
    margin: 30px;
    margin-top: 90px;
  }
  .about {
    min-height: 1666px;
    min-width: 576px;
    background: url('https://s3-us-west-1.amazonaws.com/madison-mckinley/about/ABOUT-THE-BRAND-576.jpg') center center;
    background-size: contain;
    background-repeat: no-repeat;
  }
  .about-background {
    background-color: #F9F4DC;
    top: 0;
    position: absolute;
    iframe {
      width: 100%;
      height: 600px;
    }

    video {
      width: 100%;
      transform: translateY(1px);
      border: none;
    }
    .video-text {
      top: 0;
      visibility: visible;
      left: 0;
      background-color: rgba(184, 159, 131, .5);
      position: absolute;
      height: 100%;
      width: 100%;
      z-index: 4000;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      .text-block-2 {
        h2 {
          text-align: center;
          padding-bottom: 20px;
          padding-top: 200px;
          font-family: $header-text;
          color: $red-brown;
          opacity: .8;
          font-size: 8vw;
          text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.6);
        }
      }
      .video-action {
        display: flex;
        justify-content: center;
        align-items: baseline;
        padding-bottom: 20px;
        h2 {
          color: white;
          font-family: $header-text;
          font-size: 2vw;
          text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.6);
        }
        span {
          border: 2px solid $brown;
          border-radius: 25px;
          font-size: 1.5vw;
          font-family: $header-text;
          color: white;
          padding: 10px;
        }
      }
    }
  }
}

@media (min-width: 768px) {
  .about  {
    min-height: 2243px;
    min-width: 768px;
    background: url('https://s3-us-west-1.amazonaws.com/madison-mckinley/about/ABOUT-THE-BRAND-768.jpg') center center;
    background-size: contain;
    background-repeat: no-repeat;

  }
}

@media (min-width: 992px) {
  .about {
    background: url('https://s3-us-west-1.amazonaws.com/madison-mckinley/about/ABOUT-THE-BRAND-992.jpg') center center;
    min-height: 2921px;
    min-width: 992px;
    background-size: contain;
    background-repeat: no-repeat;
  }
}


@media (min-width: 1200px) {
  .about {
    min-height: 3455px;
    min-width: 1200px;
    background: url('https://s3-us-west-1.amazonaws.com/madison-mckinley/about/ABOUT-THE-BRAND-1200.jpg') center center;
    background-size: contain;
    background-repeat: no-repeat;
  }
}
