.all-products {
  background-color: white;
  .header {
    font-size: 20px;
    margin-top: 70px;
    font-family: $header-text;
    text-align: center;
    background-color: white;
    h1 {
      margin: auto;
      color: $red-brown;
      background-color: white;
      padding-top: 35px;
    }
  }
}

@media (min-width: 768px) {
  .all-products {
    background-color: white;
    .header {
      font-size: 4vw;
      margin-top: 80vh;
      font-family: $header-text;
      text-align: center;
      background-color: white;
      h1 {
        margin: auto;
        color: $red-brown;
        background-color: white;
        padding-top: 35px;
      }
    }
  }

}
