.banner1 {
  background: url('https://s3-us-west-1.amazonaws.com/madison-mckinley/banner-images/homepage1.jpg') center;
  -webkit-background-size: cover;
  -webkit-background-size: 100% auto;
  -moz-background-size: cover;
  background-size: cover;
  min-height: 100vh;
  max-height: 100vh;
  position: relative;
  display: block;
  transition: background-image 2s ease;
  box-shadow: inset 0px -2px 10px 0px rgba(0,0,0,0.4);


  h2 {
    text-align: center;
    font-family: $header-bold;
    font-size: 15vw;
    color: white;
    padding-top: 50vh;
    letter-spacing: 4px;
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.6);
  }
  h4 {
    text-align: center;
    font-family: $header-bold;
    font-size: 8vw;
    padding-top: 3vw;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
  }
  .arrow {
    bottom: 0;
    right: 48%;
    position: absolute;
  }
}

.banner1-darken{
  background: url('https://s3-us-west-1.amazonaws.com/madison-mckinley/banner-images/homepage1-dark.jpg') center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  transition: background-image 1s ease;
  transition-delay: .25s;
}





.banner2 {
  background: url('https://s3-us-west-1.amazonaws.com/madison-mckinley/banner-images/homepage2.jpg') no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  min-height: 50vh;
  box-shadow: 1px 1px 2px 0px rgba(170,170,170,0.4), -1px -1px 2px 0px rgba(170,170,170,0.4);
  position: relative;
  margin: 10px;
  .content {
    width: 40vw;
    height:20vh;
    text-align: left;
    padding-left: 5vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    top: 50%;
    transform: translate(0, -50%);
    position: absolute;
    h2 {
      font-family: $header-bold;
      font-size: 8vw;
      color: $red-brown;
      text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.6);
    }
    h3 {
      font-family: $header-bold;
      font-size: 4vw;
      color: white;
      text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.6);
    }
    i {
      padding-left:  10px;
    }
  }
}

.banner3 {
  background: url('https://s3-us-west-1.amazonaws.com/madison-mckinley/banner-images/homepage4.jpg') no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  min-height: 50vh;
  box-shadow: 1px 1px 2px 0px rgba(170,170,170,0.4), -1px -1px 2px 0px rgba(170,170,170,0.4);
  position: relative;
  margin: 10px;
  .content {
    height: 50vh;
    width: 75vw;
    display: flex;
    flex-direction: column;
    padding-left: 5vw;
    top: 25%;
    position: absolute;
    h2 {
      font-family: $header-bold;
      font-size: 8vw;
      color: $red-brown;
      text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.6);
    }
    h3 {
      font-family: $header-bold;
      font-size: 5vw;
      padding-top: 3vw;
      color: white;
      text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.6);
    }
    h4 {
      font-family: $header-bold;
      font-size: 4vw;
      padding-top: 3vw;
      color: white;
      text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.6);
    }
    i {
      padding-left:  10px;
    }
  }
}

.quote {
  background: $brown;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  min-height: 50vh;
  width: 100vw;
  opacity: .8;
  position: relative;
  box-shadow: inset 0px 1px 6px 0px rgba(0,0,0,0.2), inset 0px -1px 6px 0px rgba(0,0,0,0.2);
}

.quote-content {
  margin: 5px;;
  text-align: center;
  position: absolute;
  top: 50%;
  font-family: $header-text;
  transform: translate(0, -50%);

  h3 {
    color: white;
    font-size: 3.5vw;
    line-height: 2;
  }
  h4 {
    padding-top: 5%;
    color: white;
    font-size: 10px;
  }
}

.banner.parallax {

  z-index: -1000;
}


.banner-component {
  height: 100vh;
  position: fixed;
  top: 0;
  overflow: hidden;
  width: 100vw;
  box-shadow: inset 0px -2px 10px 0px rgba(0,0,0,0.4);
  .banner-image {
    display: inline-block;
    margin: auto;
    width: 100vw;
    height: 100%;
    overflow: hidden;
  }
}

@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px) {
  .banner1 {
    background: url('https://s3-us-west-1.amazonaws.com/madison-mckinley/banner-images/homepage1.jpg') center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    min-height: 100vh;
    max-height: 100vh;
    max-width: 100vw;
    position: relative;
    display: block;
    transition: background-image 2s ease;
    box-shadow: inset 0px -2px 10px 0px rgba(0,0,0,0.4);


    h2 {
      text-align: center;
      font-family: $header-bold;
      font-size: 15vw;
      color: white;
      padding-top: 50vh;
      letter-spacing: 4px;
      text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.6);
    }
    h4 {
      text-align: center;
      font-family: $header-bold;
      font-size: 8vw;
      padding-top: 3vw;
      color: white;
      text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
    }
    .arrow {
      bottom: 0;
      right: 48%;
      position: absolute;
    }
  }

  .banner1-darken{
    background: url('https://s3-us-west-1.amazonaws.com/madison-mckinley/banner-images/homepage1-dark.jpg') center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    transition: background-image 1s ease;
    transition-delay: .25s;
  }





  .banner2 {
    background: url('https://s3-us-west-1.amazonaws.com/madison-mckinley/banner-images/homepage2.jpg') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    min-height: 50vh;
    box-shadow: 1px 1px 2px 0px rgba(170,170,170,0.4), -1px -1px 2px 0px rgba(170,170,170,0.4);
    position: relative;
    margin: 10px;
    .content {
      width: 40vw;
      height:20vh;
      text-align: left;
      padding-left: 5vw;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      top: 50%;
      transform: translate(0, -50%);
      position: absolute;
      h2 {
        font-family: $header-bold;
        font-size: 8vw;
        color: $red-brown;
        text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.6);
      }
      h3 {
        font-family: $header-bold;
        font-size: 4vw;
        color: white;
        text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.6);
      }
      i {
        padding-left:  10px;
      }
    }
  }

  .banner3 {
    background: url('https://s3-us-west-1.amazonaws.com/madison-mckinley/banner-images/homepage4.jpg') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    min-height: 50vh;
    box-shadow: 1px 1px 2px 0px rgba(170,170,170,0.4), -1px -1px 2px 0px rgba(170,170,170,0.4);
    position: relative;
    margin: 10px;
    .content {
      height: 50vh;
      width: 75vw;
      display: flex;
      flex-direction: column;
      padding-left: 5vw;
      top: 25%;
      position: absolute;
      h2 {
        font-family: $header-bold;
        font-size: 8vw;
        color: $red-brown;
        text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.6);
      }
      h3 {
        font-family: $header-bold;
        font-size: 5vw;
        padding-top: 3vw;
        color: white;
        text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.6);
      }
      h4 {
        font-family: $header-bold;
        font-size: 4vw;
        padding-top: 3vw;
        color: white;
        text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.6);
      }
      i {
        padding-left:  10px;
      }
    }
  }

  .quote {
    background: $brown;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    min-height: 50vh;
    width: 100vw;
    opacity: .8;
    position: relative;
    box-shadow: inset 0px 1px 6px 0px rgba(0,0,0,0.2), inset 0px -1px 6px 0px rgba(0,0,0,0.2);
  }

  .quote-content {
    margin: 5px;;
    text-align: center;
    position: absolute;
    top: 50%;
    font-family: $header-text;
    transform: translate(0, -50%);

    h3 {
      color: white;
      font-size: 3.5vw;
      line-height: 2;
    }
    h4 {
      padding-top: 5%;
      color: white;
      font-size: 10px;
    }
  }

  .banner.parallax {

    z-index: -1000;
  }


  .banner-component {
    height: 100vh;
    position: fixed;
    top: 0;
    overflow: hidden;
    width: 100vw;
    box-shadow: inset 0px -2px 10px 0px rgba(0,0,0,0.4);
    .banner-image {
      display: inline-block;
      margin: auto;
      width: 100vw;
      height: 100%;
      overflow: hidden;
    }
  }
}


@media (min-width: 768px) {
  .banner1 {
    background: url('https://s3-us-west-1.amazonaws.com/madison-mckinley/banner-images/homepage1.jpg') center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    min-height: 100vh;
    min-width: 100%;
    position: relative;
    display: block;
    transition: background-image 2s ease;
    box-shadow: inset 0px -2px 10px 0px rgba(0,0,0,0.4);


    h2 {
      text-align: center;
      font-family: $header-bold;
      font-size: 6vw;
      color: white;
      padding-top: 300px;
      letter-spacing: 4px;
      text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.6);
    }
    h4 {
      text-align: center;
      font-family: $header-bold;
      font-size: 4vw;
      padding-top: 3vw;
      color: white;
      text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
    }
    .arrow {
      bottom: 0;
      right: 48%;
      position: absolute;
    }
  }

  .content {
    visibility: visible;
  }

  .banner1-darken{
    background: url('https://s3-us-west-1.amazonaws.com/madison-mckinley/banner-images/homepage1-dark.jpg') center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    transition: background-image 1s ease;
    transition-delay: .25s;
  }

  .banner2 {
    background: url('https://s3-us-west-1.amazonaws.com/madison-mckinley/banner-images/homepage2.jpg') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    min-height: 80vh;
    margin: 5vw;
    box-shadow: 1px 1px 2px 0px rgba(170,170,170,0.4), -1px -1px 2px 0px rgba(170,170,170,0.4);
    position: relative;
    border: none;
    .content {
      width: 40vw;
      height:35vh;
      text-align: left;
      padding-left: 5vw;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      top: 50%;
      transform: translate(0, -50%);
      position: absolute;
      h2 {
        font-family: $header-bold;
        font-size: 6vw;
        color: $red-brown;
        text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.6);
      }
      h3 {
        font-family: $header-bold;
        font-size: 2.5vw;
        color: white;
        text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.6);
      }
      i {
        padding-left:  10px;
      }
    }
  }

  .banner3 {
    background: url('https://s3-us-west-1.amazonaws.com/madison-mckinley/banner-images/homepage4.jpg') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    min-height: 80vh;
    margin: 5vw;
    box-shadow: 1px 1px 2px 0px rgba(170,170,170,0.4), -1px -1px 2px 0px rgba(170,170,170,0.4);
    position: relative;
    .content {
      height: 50vh;
      width: 50vw;
      display: flex;
      flex-direction: column;
      text-align: center;
      padding-right: 3vw;
      right: 0;
      top: 50%;
      transform: translate(0, -50%);
      position: absolute;
      h2 {
        text-align: center;
        font-family: $header-bold;
        font-size: 6vw;
        color: $red-brown;
        text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.6);
      }
      h3 {
        text-align: center;
        font-family: $header-bold;
        font-size: 3vw;
        padding-top: 3vw;
        color: white;
        text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.6);
      }
      h4 {
        text-align: center;
        font-family: $header-bold;
        font-size: 2.5vw;
        padding-top: 3vw;
        color: white;
        text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.6);
      }
      i {
        padding-left:  10px;
      }
    }
  }

  .quote {
    background: url('https://s3-us-west-1.amazonaws.com/madison-mckinley/banner-images/quote.jpg') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    min-height: 70vh;
    opacity: .8;
    position: relative;
    box-shadow: inset 0px 1px 6px 0px rgba(0,0,0,0.2), inset 0px -1px 6px 0px rgba(0,0,0,0.2);
  }

  .quote-content {
    margin: 0;
    position: absolute;
    top: 50%;
    text-align: center;
    left: 50%;
    font-family: $header-text;
    transform: translate(-50%, -50%);

    h3 {
      color: white;
      font-size: 2vw;
      text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.8);
      line-height: 2;
    }
    h4 {
      padding-top: 5%;
      color: white;
      font-size: 1.5vw;
      text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.8);
    }
  }

  .banner.parallax {
    background-attachment: fixed;
    z-index: -1000;
  }


  .banner-component {
    z-index: -1000;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    box-shadow: inset 0px -2px 10px 0px rgba(0,0,0,0.4);
    .banner-image {
      display: block;
      position: absolute;
      left: 50%;
      top: 50%;
      bottom: auto;
      right: auto;
      margin: auto;
      transform: translateX(-50%) translateY(-50%);
      min-width: 100vw;
      max-width: 100vw;
      height: auto;
      width: auto;
    }
    video {
      display: block;
      position: absolute;
      left: 50%;
      top: 50%;
      bottom: auto;
      right: auto;
      margin: auto;
      transform: translateX(-50%) translateY(-50%);
      min-height: 100vh;
      max-width: none;
      height: auto;
      width: auto;
    }
  }
}
