.filter-bar {
  background-color: white;
  width: 100vw;
  box-shadow: 0px 1px 6px 0px rgba(0,0,0,0.2);
  form {
    width: 100vw;
    margin: 5vw;
    select {
      border: 1px solid $red-brown;

    }
    .form-control {
      border-radius: 0rem;
    }
  }

}

.product-list {
  background-color: white;
  padding-bottom: 10vh;
  min-height: 100vh;
}

.product-image {
  width: 75%;
}

select.form-control {
  border-radius: 0rem;
}
