@mixin aspect-ratio($width, $height) {
  position: relative;
  &:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: ($height / $width) * 100%;
  }
  > .panel-image {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}

.collection-panel   {
    .front {
      @include aspect-ratio(1,1);
      img {
        max-width:100%;
        max-height: 100%;
        padding: 5px;
      }
      .panel-image-text-right {
        z-index: 9000;
        transition: transform 2s ease;
      }
      .panel-image-text-left {
        z-index: 9000;
        transition: transform 2s ease;
      }
      .collection-action {
        min-height: 5vh;
      }
    }
}

.all-collections {
  .title {
    text-align: center;
    color: $brown;
    padding-top: 70px;
    font-size: 20px;
    font-family: $header-text;
  }
}

@media (min-width: 576px) {
  .collection-panel   {
      .front {
        @include aspect-ratio(1,1);
        img {
          max-width: 100%;
          max-height: 100%;
          padding: 5vw;
        }
        .panel-image-text-right {
          z-index: 9000;
          transition: transform 2s ease;
        }
        .panel-image-text-left {
          z-index: 9000;
          transition: transform 2s ease;
        }
        .panel-image-text-right:hover {
          transform: rotate(30deg);
          -webkit-transform: rotate(30deg);
        }
        .panel-image-text-left:hover {
          transform: rotate(-30deg);
          -webkit-transform: rotate(-30deg);
        }
        .collection-action {
          min-height: 5vh;
        }
      }
  }

  .slim-video {
    margin-top: 50px;
  }
}
