.filter-bar {
  background-color: white;
  padding-top: 5vh;
  .filter-header {
    display: flex;
    justify-content: center;
    padding: 10px;
    padding-top: 12px;
    font-family: $header-text;
    color: $brown;
    i {
      padding-left: 5px;
      padding-right: 5px;
    }
  }
  .filter-header-close {
    width: 100vw;
    padding: 10px;
    padding-top: 12px;
    font-family: $header-text;
    color: $brown;
    display: flex;
    justify-content: center;
    i {
      padding-left: 5px;
      padding-right: 5px;
    }
  }
  form
   {
    width: 100vw;
    margin: 5vw;
    margin-top: 0;
    .form-control {
      border-radius: 0rem;
    }
    input {
      font-family: $header-text;
      width: 200px;
      overflow: hidden;
      box-shadow: none;
      border: 2px solid $brown;
      font-size: 12px;
      color: $brown;
      background-image: none;
      padding: 5px 8px;
      background: transparent;
      -webkit-appearance: none;
      color: $brown;
      height:38px;
    }
    input::placeholder {
      color: $brown;
    }

    select {
      border: 2px solid $brown;
      font-family: $header-text;
      width: 200px;
      border-radius: 3px;
      overflow: hidden;
      box-shadow: none;
      background-image: none;
      padding: 5px 8px;
      background: transparent;
      -webkit-appearance: none;
      color: $brown;
      font-size: 12px;

    }
    select:focus {
      outline: none;
    }
  }
}

select.form-control {
  border-radius: 0rem;
}

.product-list {
  background-color: white;
  padding-bottom: 10vh;
  min-height: 100vh;
}

.collection-title {
  margin-top: 40vh;
  text-align: center;
  font-family: $header-bold;
  color: white;
  font-size: 7vw;
  letter-spacing: 5px;
  margin-bottom: 20vh;
  text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.6);
}

.collection-header {
  background-color: white;
  box-shadow: 0px 1px 6px 0px rgba(0,0,0,0.2);
  width: 100vw;
  padding: 5vw;
  padding-top: 3vw;
  text-align: center;
  font-family: $header-text;
  h2 {
    color: $red-brown;
    padding-bottom: 20px;
    font-size: 3vw;
    margin: auto;
  }
  h3 {
    font-size: 1.5vw;
    line-height: 2;
  }
}


.product-quick-info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  font-family: $header-text;
  height: 120px;
  transition: opacity 1s ease;
  h2 {
    color: $brown;
    font-size: 12px;
    text-align: center;
    line-height: 1.5;
  }
  .add-to-cart-btn {
    padding: 6px;
    padding-top: 9px;
    border: 1px solid $brown;
    color: $brown;
    transition: background 1s ease;
    font-size: 12px;
    visibility: collapse;
    opacity: 0;
    transition: opacity 2s ease;
  }
  .add-to-cart-btn:hover {
    border: 1px solid $brown;
    color: white;
    background: $brown;

  }
}

.small-gallery {
  display: flex;
  align-items: center;
  .arrow {
    font-size: 2vw;
    visibility: hidden;
    opacity: 0;
    padding: 15px;
    transition: opacity 2s ease;
    color: $brown;
  }
}

.product:hover {
  .add-to-cart-btn {
    visibility: visible;
    opacity: 1;
  }
  .arrow {
    visibility: visible;
    opacity: 1;
    padding-right: 10px;
  }
}
