.contact {
  background: url('https://s3-us-west-1.amazonaws.com/madison-mckinley/banner-images/contact.jpg') center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  padding-top: 20vh;
  font-family: $header-text;
  h1 {
    color: white;
    font-size: 3vw;
    padding: 2vw;
  }
  .contact-form {
    width: 45vw;
    padding: 2vw;
    min-height: 50vh;
    form {
      height: 50vh;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
    }
  }
}
