.customize {
  .collection-title {
    margin-bottom: 10vh;
  }
  .customize-intro {
    background-color: white;
    min-height: 40vh;
    .text {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      padding: 5vh;
      font-family: $header-text;
      line-height: 1.5;
      font-size: 1.5vw;
      h3 {
        color: $brown;
      }
    }
    .button {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      font-family: $header-text;
      div {
        border: 2px solid $brown;
        padding: 30px;
        font-size: 2vw;
        max-width: 300px;
        line-height: 1.5;
        color: $brown;
        text-align: center;
      }
      div:hover {
        background-color: $brown;
        color: white;
      }
    }
  }
  .slider-text {
    font-family: $header-text;
    color: $red-brown;
    width: 100vw;

    h2 {
      font-size: 4vw;
      text-align: center;
      text-wrap: normal;
      padding-top: 5vh;
    }
  }

  .cust-slider {
    margin: 5vh;
    min-height: 55vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    .slider-product {
      margin: 5px;
    }
    img {
      height: auto;
      width: 25vw;
      margin: 2vw;
    }
    .slider-product-info {
      text-align: center;
      font-family: $header-text;
      h1 {
        color: $brown;
        font-size: 1.2vw;
        padding-bottom: 10px;
      }
      input {
        visibility: collapse;
        opacity: 0;
      }
      .slider-button {
        padding: 7px;
        border: 2px solid $brown;
        font-size: 1vw;
        color: $brown;
        width: 50%;
        margin: auto;
        margin-top: 10px;
        margin-bottom: 10px;
        opacity: 1;
        visibility: visible;
      }
      .slider-button:hover {
        color: white;
        background:$brown;
      }
    }
    .slider-selected {
      border: 2px solid $brown;
      .slider-button {
        visibility: collapse;
        opacity: 0;
        transition: opacity 2s ease;
      }
      input {
        visibility: visible;
        opacity: 1;
        transition: opacity 2s ease;
      }
    }
  }


}

.customize-nav {
  margin-top: 15vh;
  margin-right: 5vw;
  margin-left: 5vw;
  text-align: center;
  .custom-nav-btn {
    margin: 0 auto;
    padding: 7px;
    padding-bottom: 15px;
    font-family: $header-text;
    color: $brown;
    font-size: 14px;
  }
  .btn-selected {
    border-bottom: 2px solid $brown;
  }
}

.summary  {
  font-family: $body-text;
  margin: 5vw;
  letter-spacing: 2px;
  margin-bottom: 0;
  .lineItem-info {
    height: 100%;
    display: flex;
    flex-direction: column;
    h2  {
      padding-top: 1vh;
      padding-bottom: 1vh;
    }
    h3 {
      padding-top: 1vh;
      padding-bottom: 1vh;
    }
    button {
      border: none;
    }
    form {
      .form-control {
       width: 150px;
       input {
         border: 2px solid $brown;
       }
      }
    }
  }
}
.summary-footer {
  display: flex;
  width: 100vw;
  flex-direction: row;
  justify-content: flex-end;
  padding: 5vw;
}
