.footer {
  background-color: rgba(184, 159, 131, 1);
  height: 50vh;
  position: relative;
  .links {
    display: flex;

    background-color: rgba(255, 255, 255, 0);
    position: absolute;
    width: 100vw;
    bottom: 0;
    font-family: $header-text;
    .social {
      left: 0;
      color: white;
      font-size: 1.5vw;
      padding: 3vh;
      a {
        color: white;
        padding: 1vw;
      }
      i {
        padding-right: 1vw;
      }
    }
    .customer-links {
      right: 0;
      position: absolute;
      padding: 3vh;
      font-size: 1.5vw;
      a {
        color: white;
        padding: 1vw;
      }
    }
    i {
      font-size: 2.5vw;
    }
  }
  .email {
    margin: 5vw;
    position: absolute;
    top: 15%;
    left: 0;
    transform: translate(0, -15%);
    font-family: $header-text;
    h2 {
      color: white;
      font-size: 2.5vw;
    }
    form {
      padding-top: 2vh;
      padding-bottom: 2vh;
      input {
        margin-bottom: 2vh;
        background-color: rgba(255, 255, 255, 0);
        color: white;
        font-family: $header-text;
        input::placeholder {
          color: white;
        }
      }
      .form-control {
        color: white;
        border: 2px solid white;
        border-radius: 0;
      }

      button {
        color: $brown;
        font-family: $header-text;
        border-radius: 0;
        border: none;
        background-color: rgba(255, 255, 255, 1);
      }
    }

  }
}
