.footer {
  background-color: rgba(184, 159, 131, 1);
  min-height: 50vh;
  .links {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    min-height: 40vh;
    padding: 10vh;
    font-family: $header-text;
    color: white;
    font-size: 1.5vw;
    a {
      color: white;
    }
    .social {
      display: flex;
      flex-direction: row;
      i {
        font-size: 3vw;
      }
      a {
        padding-left: 3vw;
      }
      :first-child {
        padding-left: 0;
      }
    }
  }
  .email {
    padding: 10vh;
    font-family: $header-text;
    h2 {
      color: white;
      padding-bottom: 2vh;
      font-size: 1.5vw;
      line-height: 1.5;
    }
    form {
      input {
        margin-bottom: 2vh;
        background-color: rgba(255, 255, 255, 0);
        color: white;
        font-family: $header-text;
        font-size: 1.5vw;
      }
      .form-control {
        color: white;
        border: 2px solid white;
        border-radius: 0;
      }

      button {
        color: $brown;
        font-family: $header-text;
        border-radius: 0;
        border: none;
        background-color: rgba(255, 255, 255, 1);
      }
    }

  }
  .footer-bar {
    display: flex;
    margin: 2vw;
    flex-direction: row;
    justify-content: flex-end;
    color: white;
    font-family: $header-text;
    .copyright {
      color: white;
      i {
        padding-right: 1vw;
      }
    }
  }
}
