.navbar-light .navbar-brand, .navbar-light .navbar-toggler {
  color: $tan;
  font-size: 3vw;
}

.navbar-brand {
  font-family: $logo-text;
  letter-spacing: 4px;
}

nav.navbar {
  z-index: 100000;
  background-color:  rgba(0,0,0,0);
  padding-top: 3vw;
  position: fixed;
  top: 0;
  width: 100%;
}

a.nav-link {
  font-family: $header-text;
}

.navbar-light .navbar-nav .nav-link {
  color: $tan;
  font-size: 1.5vw;

}
