.navbar-light .navbar-toggler {
  color: $tan;
  font-size: 5vw;

}
.navbar-brand {
  font-family: $logo-text;
  letter-spacing: 4px;
  font-size: 4.5vw;
  transition: font-size 1s ease;
}

.navbar-brand:hover {
  font-size: 4.6vw;
}

.navbar a.navbar-brand:hover {
  color: $tan;
  text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.6);
}

.navbar a.navbar-brand {
  color: $tan;
  text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.6);
}
nav.navbar {
  z-index: 20000;
  background-color:  rgba(0,0,0,0);
  position: absolute;
  top: 0;
  width: 100%;
  i {
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.6);
  }

}

.navbar-light .navbar-nav .nav-link {
  color: $tan;
  font-size: 3vw;
  transition: font-size 1s ease;
}

.navbar-light .navbar-nav .nav-link:hover {
  color: $tan;
  font-size: 3.1vw;
}
