.slider-text {
  font-family: $header-text;
  color: $red-brown;
  width: 100vw;

  h2 {
    font-size: 4vw;
    text-align: center;
    text-wrap: normal;
    padding-top: 5vh;
  }
}

.horizontal-slider {
  overflow: scroll;
  margin: 5vh;
  min-height: 55vh;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  img {
    height: auto;
    width: 25vw;
    margin: 3vw;
    transition: width 1s ease, margin 1s ease;
  }
  .slider-product-info {
    visibility: hidden;
    opacity: 0;
    transition: opacity 1s ease;
    text-align: center;
    font-family: $header-text;
    h1 {
      color: $brown;
      font-size: 1.2vw;
      padding-bottom: 10px;
    }
    .slider-button {
      padding: 7px;
      border: 2px solid $brown;
      font-size: 1vw;
      color: $brown;
      width: 50%;
      margin: auto;
      margin-bottom: 10px;
    }
    .slider-button:hover {
      color: white;
      background-color: $brown;
    }
  }
}

.slider:hover {
  .slider-product-info {
    visibility: visible;
    opacity: 1;
  }
  a {
    text-decoration: none;
  }
  img {
    width: 28vw;
    margin: 1vw;
  }
}
