.slider-text {
  font-family: $header-text;
  color: $red-brown;
  width: 100vw;

  h2 {
    font-size: 4vw;
    text-align: center;
    text-wrap: normal;
    padding-top: 5vh;
  }
}

.horizontal-slider {
  overflow: auto;
  margin: 5vh;
  margin-bottom: 0;
  min-height: 45vh;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  img {
    width: 250px;
  }
  .product-quick-info {
    margin-right: 35px;
  }
}

.slider {
  margin: 20px;
  margin-bottom: 0;

}
